$black: #000000;
$black_90: #1F1F1F;

$white: #ffffff;

$yellow: #FFFBE6;
$yellow_20: #FEFBC2;
$yellow_10: #FFFDF0;

$green: #1bc47d;
$green_20: #C9F8DE;
$green_10: #F2FDF8;

$blue: #1A73E8;
$blue_10: #E1F2FC;

$red: #F04D42;
$red_20: #FBDFE1;
$red_10: #FEF0F0;

$grey: #999999;
$grey_30: #dedede;
$grey_20: #E7EBF0;
$grey_10: #F0F2F4;

$primary: $blue;
$secondary: $green;
$success: $green;
$error: $red;

$bg_color: $white;
$bg_color_dark: #0F0F0F;

$text_color: $black;
$text_color_dark: $grey_20;

$border_color: $grey_30;
