@import "~@styles/variables/colors.module.scss";
@import "~@styles/variables/shared.module.scss";

.radioGroup {
    position: relative;

    .radio {
        margin-bottom: 5px;
    }

    .validationMessage {
        margin-top: 0.3rem;
    }
}
