@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.scrollbarKit {
    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 20px;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    .box {
        position: relative;
        height: 200px;
        overflow-x: hidden;
    }
}
