.avatarScene {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;

    .list {
        width: 100%;
        display: grid;
        grid-auto-columns: max-content;
        grid-template-columns: repeat(auto-fill, auto);
        grid-auto-rows: auto;
        grid-gap: 10px;
    }
}
