.avatarScene {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;

    .list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}
