@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.react-calendar {
    width: 360px;
    min-height: 375px;
    max-width: 100%;
    background: $white;
    border-radius: $radius;
    box-shadow: 0 1px 10px rgba($black, 0.04);
    font-family: $font;

    button {
        margin: 0;
        border: 0;
        outline: none;
        box-shadow: none;
    }
}

.react-calendar__navigation {
    height: 50px;
    padding: 10px 5px 0;
    margin-bottom: 10px;

    button {
        min-width: 44px;
        background: none;

        &:hover {
            cursor: pointer;
        }

        &[disabled] {
            pointer-events: none;
            color: $grey;
        }
    }
}

.react-calendar__navigation__label {
    span {
        font-size: 16px;
        font-weight: 600;
    }

    button {
        &:enabled:hover, &:enabled:focus {
            background-color: transparent;
        }
    }
}

.react-calendar__navigation__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-calendar__viewContainer {

}

.react-calendar__month-view__weekdays {
    text-align: center;
    padding: 0 10px;
}

.react-calendar__month-view__weekdays__weekday {
    abbr {
        color: $grey;
        text-transform: capitalize;
        font-weight: 400;
        text-decoration: none;
        font-size: 12px;
    }
}

.react-calendar__month-view__days {
    padding: 10px;

    .react-calendar__tile {
        cursor: pointer;
        max-width: 100%;
        text-align: center;
        padding: 8px;
        background: none;
        color: $black;

        abbr {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border: 1px solid transparent;
            border-radius: 50%;
            transition: .15s ease-in-out;
        }

        &:enabled:focus {
            abbr {
                background-color: $grey_10;
                border-color: $grey_10;
            }
        }

        &:disabled {
            background-color: $grey_10;
        }
    }

    .react-calendar__tile--now {
        &, &:enabled:focus {
            abbr {
                border-color: $red;
                background-color: $red;
                color: $white;
            }
        }
    }

    .react-calendar__tile--active {
        &, &:enabled:hover, &:enabled:focus {
            abbr {
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
        }
    }

    .react-calendar__month-view__days__day--weekend {

    }

    .react-calendar__month-view__days__day--neighboringMonth {
        color: $grey;
    }
}

.react-calendar__year-view, .react-calendar__decade-view, .react-calendar__century-view {
    position: relative;
    padding: 1px 10px 0;
    overflow: hidden;
    width: calc(100% + 2px);
    margin-left: 1px;

    .react-calendar__tile {
        cursor: pointer;
        position: relative;
        padding: 30px 10px;
        background-color: transparent;
        border: 1px solid $grey_10;
        margin-top: -1px;
        margin-left: -1px;

        &:enabled:focus {
            background-color: $grey_10;
            border-color: $grey_10;
        }
    }

    .react-calendar__tile--hasActive {
        &, &:enabled:focus {
            color: $primary;
        }
    }
}

