@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.phoneCallingCode {
    max-width: 55px;

    .sign {
        padding-top: 1px;
        margin-right: 3px;
        font-size: 16px;
    }
}
