@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.uiKit {
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .subTitle {
        display: flex;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .divider {
        margin: 40px 0 30px;
        height: 1px;
        width: 100%;
        background-color: $grey_20;
    }
}
