@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.avatarsKit {
    margin-bottom: -20px;

    .list {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin: 0 -10px;
    }

    .item {
        padding: 0 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 80px;
        align-items: center;

        span {
            display: block;
            width: 100%;
            text-align: center;
        }

        .avatar {

        }
    }
}
