@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.authContainer {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 40px 60px;
}
