@import "./variables/colors.module";
@import "./variables/shared.module";

@import "src/assets/styles/fonts/fonts";
@import "src/assets/styles/html-body/html-body";
@import "src/assets/styles/others/typography";
@import "src/assets/styles/others/scrollbar";

.container {
    margin: 0 auto;
    padding: 0 2.5rem;
    max-width: 128rem;
}
