@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.modalsKit {

}

.modal.modalContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

    .text {
        font-size: 13px;
    }

    .actions {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;

        .button {
            margin-right: 5px;

            &:last-child {
                margin: 0;
            }
        }
    }
}
